<div class="root-layout">
  <div class="sidebar-wrapper">
    <div class="sidebar-root">
      <div class="sidebar-main">
        <div class="sidebar-title">
          <div class="title-holder">
            <div class="title-logo">SP</div>
            <div class="title-label">SonPoll</div>
          </div>
        </div>
        <div class="content-holder">
        </div>
        <div class="main-button-holder">
          <div class="create-join-button">
            <div class="create-button">
              <div class="create-button__text">
                CREATE
              </div>
            </div>
            <div class="join-button">
              <div class="join-button__text">
                JOIN
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="view-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
