<div class="log-in-card">
  <div class="title-holder">
    <span class="color-green">S</span>
    <span class="color-grey">on</span>
    <span class="color-green">P</span>
    <span class="color-grey">oll</span>
  </div>

  <div class="log-in-form-holder">
    <form class="log-in-form" [formGroup]="logInForm">
      <div class="form-row">
        <div class="form-group">
          <input type="text" placeholder="username" formControlName="username" pInputText class="p-inputtext-sm"/>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <input type="password" placeholder="password" formControlName="password" pInputText class="p-inputtext-sm"/>
        </div>
      </div>
    </form>
    <div class="actions-holder">
      <div class="buttons-holder">
        <div class="remember-user-checkbox">
          <p-checkbox [(ngModel)]="rememberUser" [binary]="true"></p-checkbox>
          <label>Remeber me</label>
        </div>
        <div class="forgot-password-button-holder">
          <div class="forgot-password-button" (click)="onForgotPassword()">forgot password?</div>
        </div>
      </div>
    </div>
    <div class="form-actions-holder">
      <div class="buttons-holder" *ngIf="!isAnyActionInProgress else elseCase">
        <button pButton pRipple [disabled]="!logInForm.valid" (click)="onLogIn()" type="button" class="p-button-rounded">Log In</button>
        <button pButton pRipple (click)="onLogIn()" type="button" class="p-button-rounded">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488 512">
            <path
              d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"/>
          </svg>
        </button>
      </div>
      <ng-template #elseCase>
        <p-progressSpinner [style]="{width: '25px', height: '25px'}"></p-progressSpinner>
      </ng-template>
    </div>
  </div>
</div>

<p-dialog styleClass="forgot-password-dialog" [modal]="true" [(visible)]="isForgotPasswordDialogVisible" [style]="{width: '25rem'}">
 <ng-template pTemplate="header">
   <div class="title-holder">
     <div class="main-title">Forgot password?</div>
     <div class="subtitle">We'll send you reset instructions.</div>
   </div>
 </ng-template>
  <ng-template pTemplate="content">
    <div class="content-holder">
      <input type="text" placeholder="email"  pInputText class="p-inputtext-sm email-input"/>
      <div class="button-holder">
        <button pButton pRipple type="button" class="p-button-rounded reset-button" (click)="onSendPasswordResetEmail()">Send</button>
        <ng-template  #elseCase>
          <p-progressSpinner></p-progressSpinner>
        </ng-template>
      </div>
    </div>
  </ng-template>
</p-dialog>
