.main-container {
  font-family: 'Sofia Sans', sans-serif;
  width: 400px;
  height: 500px;
  margin: 10vh auto 0;
}

.main-container > .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title-icon {
    width: 4rem;
    height: 4rem;
    padding: .5rem;
    border-radius: 50%;
    background: rgba(10, 141, 10, 0.2);
    position: relative;

    > svg {
      fill: rgba(10, 141, 10, 0.8);
    }

    &::before {
      content: '';
      width: 5rem;
      height: 5rem;
      position: absolute;
      z-index: -10;
      background: rgba(10, 141, 10, 0.1);
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .title-text {
    font-weight: 300;
    font-size: 2rem;
    margin-top: 1rem;
  }

  .title-small {
    font-weight: 200;
    font-size: .9rem;
    margin: .5rem 0;
    text-align: center;
  }
}

.main-container > .actions {
  margin: 1.5rem 0 2rem;


  > button {
    width: 100%;
  }
}

.main-container > .back-to-login {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: 250ms all;

  .back-to-login-btn {
    display: flex;
    cursor: pointer;
    font-style: italic;
    text-decoration: underline;

    .icon {
      transition: 250ms all;
      width: .9rem;
      height: .9rem;
      margin-right: .2rem;
    }
  }
}
