<div class="page-root">
  <div class="page-title">
    <div class="create-poll__label">
      Create new poll
    </div>
    <button (click)="on_save()" class="create-poll__button">
      Save
    </button>
  </div>

  <form class="new-poll-form" [formGroup]="new_poll_form">

    <div class="form-row">
      <div class="form-group">
        <label class="form-group__label">Poll title</label>
        <input type="text" class="form-group__input" formControlName="title" />
      </div>
    </div>

    <div class="main-actions-holder">
      <button class="add-question__button" (click)="add_question()">+ add question</button>
    </div>

    <div class="questions-array-holder" formArrayName="questions">

      @for (question of questions.controls; track question; let qi = $index) {

        <div class="question-holder" [formGroup]="question">

          <div class="form-row">
            <div class="form-group">
              <div class="form-group__label question-title__label">
                <span>Question title</span>
                <button class="delete-question__button" (click)="delete_question(qi)">X</button>
              </div>
              <input type="text" class="form-group__input" formControlName="title" />
            </div>

          </div>

          <div class="form-row">
            <div class="form-group">
              <label class="form-group__label">Description</label>
              <textarea class="form-group__input" rows="4" cols="50" formControlName="description"> </textarea>
            </div>
          </div>

          <div class="answers-label">
            <span class="label">Answers</span>
            <span class="add-anser_button" (click)="add_option(qi)">+ add answer</span>
          </div>


          <div class="answers-array-holder">

            <div class="answers-holder" formArrayName="options">

              @for(option of get_answers(qi).controls; track option; let ai = $index) {
              <div class="answer-item">

                <div class="form-row" [formGroup]="option">

                  <div class="form-group type-selector">
                    <label class="form-group__label">Type</label>
                    <select class="form-group__input" formControlName="type">
                      <option value="text">Text</option>
                      <option value="number">Nuber</option>
                      <option value="date">Date</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label class="form-group__label">Value</label>
                    <input type="text" class="form-group__input" formControlName="value" />
                  </div>

                  <div class="form-group delete-option-button-holder">
                    <label class="form-group__label">&nbsp;</label>
                    <button class="delete-option__button" (click)="delete_option(qi, ai)">X</button>
                  </div>

                </div>

              </div>
              }
            </div>
          </div>


        </div>

      } @empty {
        <div class="no-questions-message">There are no questions in this poll yet.</div>
      }

    </div>

  </form>
</div>

