.page-root {
  width: 80%;
  margin: 2rem auto;

  .page-title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .create-poll__label {
      font-family: 'Quicksand', sans-serif;
      font-size:1.5rem;
      font-weight: 900;
    }

    .create-poll__button {
      padding: 10px 15px;
      width: min-content;
      border-radius: 10px;
      border: none;
      cursor: pointer;
      background: rgba(74, 194, 117, 0.2);
    }
  }

  .new-poll-form {
    margin-top: 3rem;
    width: 100%;

    .form-row {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-bottom: 1rem;
      column-gap: 1rem;

      .form-group {
        display: flex;
        flex-direction: column;
        width: 100%;

        &__label {
          font-family: 'Quicksand', sans-serif;
          font-size: 1rem;
          font-weight: 600;
          width: 100%;
          margin-bottom: .3rem;
        }

        &__input {
          padding: 10px 15px;
          font-family: 'Quicksand', sans-serif;
          border: 3px solid rgba(240, 236, 229, 0.5);
          border-radius: 10px;
          outline: none;
          width: 100%;
        }

        .form-group__label.question-title__label {
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          justify-content: space-between;

          .delete-question__button {
            padding: 10px 15px;
            width: min-content;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            background: rgba(199, 93, 66, 0.2);
          }
        }

        .delete-option__button {
          padding: 10px 15px;
          width: min-content;
          border-radius: 10px;
          border: none;
          cursor: pointer;
          background: rgba(199, 93, 66, 0.2);
        }
      }

      > .form-group.delete-option-button-holder {
          width: min-content;
      }
    }

    .main-actions-holder {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid rgba(200, 200, 200, 0.3);

      .add-question__button {
        background: rgba(66, 190, 199, 0.2);
        border: none;
        padding: .6rem 1.3rem;
        border-radius: 10px;
      }
    }

    .question-holder {
      margin: 1rem 0;
      padding: 1rem;
      // background: rgba(200, 200, 200, 0.1);
      // background: rgba(240, 236, 229, 0.3);
      border: 3px solid rgba(240, 236, 229, 0.5);
      border-radius: 10px;

      .answers-label {
        font-family: 'Quicksand', sans-serif;
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        cursor: pointer;
        border-bottom: 1px solid rgba(200, 200, 200, 0.3);
        padding-bottom: .5rem;

        .add-answer_btn {
          color: #31304D;
        }
      }

      .answers-holder {

        .answer-item {

          .form-row > .form-group.type-selector {
            width: 10rem;
          }
        }
      }
    }
  }
}

.no-questions-message {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
}

