.log-in-card {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-holder {
  font-family: 'Lobster', cursive;
  font-size: 6rem;
}

.color-green {
  color: #066163;
}

.color-grey {
  color: #383838;
}

.form-row {
  .form-group {
    .label {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      margin: .5rem 0;
    }

    input {
      border-radius: 0;
      padding: .7rem 1.2rem;
      margin: .5rem 0;
      font-family: 'Roboto', sans-serif;
      border-top: none;
      border-left: none;
      border-right: none;
      box-shadow: none;
    }
  }
}

.actions-holder, .form-actions-holder {
  display: flex;
  justify-content: center;
  align-items: center;

  .buttons-holder {
    display: flex;
    justify-content: space-between;
    width: 100%;

    button > svg {
      width: 1rem;
      height: 1rem;
      fill: white;
    }
  }
}

.form-actions-holder {
  margin-top: 1rem;
}

.log-in-button {
  border: none;
  padding: .6rem 1.2rem;
  background: rgba(6, 97, 99, 1);
  border-radius: 10px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  cursor: pointer;
  transition: 250ms all;

  &[disabled] {
    pointer-events: none;
    opacity: 0.5;
    cursor: default;
  }
}

.remember-user-checkbox {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: .8rem;
  display: flex;
  align-items: center;
  p-checkbox {
    scale: 0.8;
  }
  label {
    margin-left: .2rem;
    color: rgb(100, 100, 100);
  }
}

.forgot-password-button-holder {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: .8rem;
  display: flex;
  align-items: center;
  .forgot-password-button {
    color: #3b82f6;
    cursor: pointer;
    transition: 200ms all;
    &:hover {
      color: #0a55d7;
    }
  }
}

.register-btn-holder {
  margin-top: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  position: fixed;
  top: 100%;
  transform: translateY(-300%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
